/*styles*/

.topnav a:hover {
    background-color: #A60A33;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
.topnav .icon {
    display: none;
}
ul{
 list-style-image: url("img/check.png");
}
ul li {
    margin: 50px 0; /* Ajusta este valor según tus necesidades */
    padding: 0;
}

/* header */
header {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.topnav {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
.toolbar-logo {
    margin-left: 80px;
    margin-right: 160px;
    margin-top: 10px;
    width: 60px;
}
.topnav a {
    color: #262626;
    text-align: center;
    margin-right: 45px;
    margin-top: 14px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-weight: 400;
    padding: 15px 15px;

}
.nav-button{
    float:left;
    color: white;
    text-align: center;
    margin-right: 10px;
    margin-top: 14px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    background-color:#A60A33;
    padding: 10px 20px;
    font-weight: 400;
}
.nav-button:hover {
    background-color: white; /* Color de fondo al pasar el ratón */
    color: #A60A33;            /* Color del texto al pasar el ratón */
}
/* body */
/* configuacion de las fuenteezzzzzzzz xd */
h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #262626;
    margin: 0 0 15px 0;
}
h2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #262626;
    margin: 0 0 15px 0;
    text-align: center;
}
.p1 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    margin: 0 0 15px 0;
}

.p2 {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #606060;
   
}	


.centered-content {
    margin-left: 130px;
    margin-top: 20px;
}	


/* inicio */

.container-inicio{
 display: flex;
 height: 510px;
 width: 100%;
 padding-top: 10px;
}

.inicio-izquierda{
    flex: 1;
    width: 50%;
    background-color: #DFE1DE;
}

.imagen-container-izquierda{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 240px;
}

.inicio-derecha{
    flex: 1;
    width: 50%;
    background-color: #A60A33;
}

.imagen-carrusel img {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 450px;
    max-width: 450px;
    height: 450px;
    margin-top: 25px;
}

/* pantalla servicios*/
.servicios-logo {
    margin-left: 140px;
    width: 60px;
    position: absolute;
}

.container-servicios{
    display: block;
    height: 1000px;
    width: 100%;
    background-color: white;
    align-items: center;
}
.text-container {
    margin-top: 130px;
    width: 100%;
    text-align: center;
}
.descripcion-container {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 90px;
}

.servicios-content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-direction: row;

}

.servicios-imagen {
    width: 30%;
    margin-right: 80px;
}

.servicios-decoracion{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); /* Esto es para centrar la imagen verticalmente */
}

/* About us */

.container-about{
    display: block;
    height: 1120px;
    width: 100%;
    background-color: #F8F9FA;
    align-items: center;
}
.text-about{
    padding-top: 80px;
    margin-bottom: 60px;
}
.descripcion-about{
    display: block;
    text-align: center;
}

.franja-about{
    width: 90%;
    height: 60px;
    background-color: #A60A33;
    margin: 50px auto;
}
.contenedor-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen-about {
    width: 70%;
}

/* platadormas */

.plataformas-container{
    display: block;
    height: 500px;
    width: 100%;
    background-color: white;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.imagen-plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Esto añadirá espacio entre las imágenes */
}
.imagen-plataformas img{
    width: 20%;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

}	


/*responsive*/
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      display: block;
    }
  }

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      margin-right: 20px;
      margin-left: 20px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
@media screen and (max-width: 600px) {
    .toolbar-logo {
        display: none;
    }
    .container-inicio{
        display: block;
        margin-left: 25px;

    }
    .inicio-izquierda{
        width: 90%;
        height: 500px;
        margin-bottom: 25px;
    }
    .inicio-derecha{
        width: 90%;
        height: 500px;
    }
    .servicios-content{
        flex-direction: column;
    }
    .imagen-container-izquierda{
        width: 180px;
        padding-top: 40px;
    }
    .imagen-plataformas{
        flex-direction: column;
    }

}
@media screen and (max-width: 600px) {
    .container-servicios {
        position: relative;
        margin-top: 600px;
        height: 1200px;
    }
    .text-container {
        margin-top: 50px; /* Ajusta este valor según tus necesidades */
    }

    .descripcion-container {
        margin-top: 50px; /* Ajusta este valor según tus necesidades */
    }

    .servicios-content {
        margin-top: 50px; /* Ajusta este valor según tus necesidades */
    }
    .servicios-logo{
        width: 60px; /* Ajusta este valor según tus necesidades */
        display: block;
        margin-left: 15px;
        align-items: center;
    }
    .servicios-imagen{
        width: 50%;
        
    }
    .container-about{
        height: 920px;
    }

}