/* header */
header {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.topnav {
    background-color: white;
}
.toolbar-logo {
    float: left;
    margin-left: 80px;
    margin-right: 160px;
    margin-top: 10px;
    width: 60px;
}
.topnav a {
    float:left;
    color: #262626;
    text-align: center;
    margin-top: 25px;
    margin-right: 75px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-weight: 400;
}
.nav-button{
    float:left;
    color: white;
    text-align: center;
    margin-right: 10px;
    margin-top: 14px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    background-color:#A60A33;
    padding: 10px 20px;
    font-weight: 400;
}


/* body */
/* configuacion de las fuenteezzzzzzzz xd */

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #262626;
    margin: 0 0 15px 0;
}
p2 {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #606060;
   
}	

.centered-content {
    margin-left: 130px;
    margin-top: 20px;
}	


/* inicio */

.container-inicio{
 display: flex;
 height: 510px;
 width: 100%;
 padding-top: 10px;
}

.inicio-izquierda{
    flex: 1;
    width: 50%;
    background-color: #DFE1DE;
}

.imagen-container-izquierda{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 240px;
}

.inicio-derecha{
    flex: 1;
    width: 50%;
    background-color: #A60A33;
}

.imagen-carrusel img {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 450px;
    max-width: 450px;
    height: 450px;
    margin-top: 25px;
}



/*responsive*/
