/* header */
header {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.topnav {
    background-color: white;
}
.toolbar-logo {
    float: left;
    margin-left: 80px;
    margin-right: 160px;
    margin-top: 10px;
    width: 100px;
}
.topnav a {
    float:left;
    color: #262626;
    text-align: center;
    margin-top: 40px;
    margin-right: 75px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-weight: 400;
}
.nav-button{
    float:left;
    color: white;
    text-align: center;
    margin-right: 10px;
    margin-top: 30px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    background-color:#A60A33;
    padding: 10px 20px;
    font-weight: 400;
}

/* body */
/* inicio */

.container-inicio{
 display: flex;
 height: 400px;
 width: 100%;
 padding-top: 30px;
}

.inicio-izquierda{
    flex: 1;
    width: 50%;
    background-color: #DFE1DE;
}

.imagen-container-izquierda{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    width: 240px;
}

.inicio-derecha{
    flex: 1;
    width: 50%;
    background-color: #A60A33;
}



